include mif/data/gadget.mtx
include mif/data/ErdosReny.mtx
include mif/data/heterophilly.mtx
include mif/data/homophilly.mtx
include mif/data/karateclub.mtx
include mif/data/scalefree.mtx
include mif/data/eat.mtx
